<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.test.mapper.SysOperationLogMapper">

    <sql id="logConditions">
        l.deleted = 0
        <if test="appId != null and appId != ''">
            AND l.app_id = #{appId}
        </if>
        <if test="module != null and module != ''">
            AND l.module LIKE CONCAT('%', #{module}, '%')
        </if>
        <if test="operator != null and operator != ''">
            AND l.operator_username LIKE CONCAT('%', #{operator}, '%')
        </if>
        <if test="operationType != null and operationType != ''">
            AND l.operation_type = #{operationType}
        </if>
        <if test="status != null">
            AND l.status = #{status}
        </if>
        <if test="startTime != null and startTime != ''">
            AND l.operated_at &gt;= CONCAT(#{startTime}, ' 00:00:00')
        </if>
        <if test="endTime != null and endTime != ''">
            AND l.operated_at &lt; DATE_ADD(#{endTime}, INTERVAL 1 DAY)
        </if>
    </sql>

    <select id="count" resultType="long">
        SELECT COUNT(*) FROM sys_operation_log l
        <where>
            <include refid="logConditions"/>
        </where>
    </select>

    <select id="list" resultType="map">
        SELECT l.id, l.trace_id AS traceId, l.app_id AS appId, a.app_name AS appName, l.module,
               l.operation_type AS operationType, l.description,
               l.operator_username AS operatorUsername, l.request_method AS requestMethod, l.request_url AS requestUrl,
               l.request_params AS requestParams, l.response_result AS responseResult, l.ip_address AS ipAddress,
               l.status, l.error_message AS errorMessage, l.duration_ms AS durationMs, l.operated_at AS operatedAt
        FROM sys_operation_log l
        LEFT JOIN sys_app a ON a.app_id = l.app_id AND a.deleted = 0
        <where>
            <include refid="logConditions"/>
        </where>
        ORDER BY l.operated_at DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="export" resultType="map">
        SELECT l.app_id AS appId, a.app_name AS appName, l.module, l.operation_type, l.description,
               l.operator_username, l.request_url, l.request_params,
               l.response_result, l.ip_address, l.status, l.error_message, l.duration_ms, l.operated_at
        FROM sys_operation_log l
        LEFT JOIN sys_app a ON a.app_id = l.app_id AND a.deleted = 0
        <where>
            <include refid="logConditions"/>
        </where>
        ORDER BY l.operated_at DESC
        LIMIT 10000
    </select>

    <update id="deleteByIds">
        UPDATE sys_operation_log SET deleted = 1
        WHERE id IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>

</mapper>
